altair==4.2.2
pandas==1.4.1
numpy==1.21.4
scikit-learn==1.1.1
streamlit==1.10.0
plotly==5.4.0
tqdm==4.62.3
apyori==1.1.2
lxml>=4.9.1
jieba==0.42.1
requests==2.29.0
google-analytics-data==0.17.0
pytz==2022.7
geopandas==0.13.2
folium==0.14.0
geopy==2.3.0
shapely==2.0.1
streamlit_folium
datetime
